<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find-A-Hand</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
   <header class="navbar">
    <nav>
        <div class="logo">
            <h2>FindAHand</h2>

        </div>
    </nav>

   </header>
   <section class="home-projects">
    <div class="home-projects-heading">
        <h3 class="popular-home-project">Popular Home Projects</h3>
        <div class="see-more-container-mobile">
            <a href="#" class="see-more">See More &gt;&gt;</a>
        </div>
    </div>
  

    <div class="home-projects-container">
        <a href="#" class="project-link">
            <div class="home-project">
                <div class="home-project-img-container">
                    <img src="../public/images/furnitue-assembly-man.jpg" alt="Furniture Assembly" class="home-project-img">
                </div>
                <div class="home-project-info">
                    <h3 class="home-project-title">Furniture Assembly &gt&gt;</h3>
                    <span class="rating">⭐ 4.7 (22k)</span>
                </div>
            </div>
        </a>

        <a href="#" class="project-link">
            <div class="home-project">
                <div class="home-project-img-container">
                    <img src="../public/images/helping-moving-out.webp" alt="Help Moving Out" class="home-project-img">
                </div>
                <div class="home-project-info">
                    <h3 class="home-project-title">Help Moving out &gt&gt;</h3>
                    <span class="rating">⭐ 4.7 (100k)</span>
                </div>
            </div>
        </a>

        <a href="#" class="project-link">
            <div class="home-project">
                <div class="home-project-img-container">
                    <img src="../public/images/plumber.jpg" alt="Minor Plumbing Repair" class="home-project-img">
                </div>
                <div class="home-project-info">
                    <h3 class="home-project-title">Minor Plumbing Repair &gt&gt;</h3>
                    <span class="rating">⭐ 4.7 (50k)</span>
                </div>
            </div>
        </a>
    </div>

    <div class="see-more-container">
        <a href="#" class="see-more">See More &gt;&gt;</a>
    </div>
   </section>
   <section class="handymen-near-you">
    <div class="handymen-near-you-heading">
        <h3 class="handymen-near-you-heading-title">Handymen Near You</h3>
    </div>
    <div class="handymen-near-you-container">
        <div class="hanyman-near-you">
            <div class="hanyman-image">

            </div>
            <div class="hanyman-details">
              <p class="hanyman-name"></p>
              <p class="handyman-rating"></p>
              <p class="handyman-skill"></p>
              <p class="handyman-location"></p>
            </div>
        </div>
        <div class="hanyman-near-you">
            <div class="hanyman-image">

            </div>
            <div class="hanyman-details">
              <p class="hanyman-name"></p>
              <p class="handyman-rating"></p>
              <p class="handyman-skill"></p>
              <p class="handyman-location"></p>
            </div>
        </div>
        <div class="hanyman-near-you">
            <div class="hanyman-image">

            </div>
            <div class="hanyman-details">
              <p class="hanyman-name"></p>
              <p class="handyman-rating"></p>
              <p class="handyman-skill"></p>
              <p class="handyman-location"></p>
            </div>
        </div>
        <div class="hanyman-near-you">
            <div class="hanyman-image">

            </div>
            <div class="hanyman-details">
              <p class="hanyman-name"></p>
              <p class="handyman-rating"></p>
              <p class="handyman-skill"></p>
              <p class="handyman-location"></p>
            </div>
        </div>
        <div class="hanyman-near-you">
            <div class="hanyman-image">

            </div>
            <div class="hanyman-details">
              <p class="hanyman-name"></p>
              <p class="handyman-rating"></p>
              <p class="handyman-skill"></p>
              <p class="handyman-location"></p>
            </div>
        </div>
        <div class="hanyman-near-you">
            <div class="hanyman-image">

            </div>
            <div class="hanyman-details">
              <p class="hanyman-name"></p>
              <p class="handyman-rating"></p>
              <p class="handyman-skill"></p>
              <p class="handyman-location"></p>
            </div>
        </div>
    </div>

   </section>
    
</body>
</html>