<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find-A-Hand</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="index.js"></script>
</head>
<body>
   <header class="navbar">
    <nav class="nav-container">
        <div class="logo">
            <h2 class="logo-text">Findahand</h2>
        </div>
        <div class="service-menu">
            <select class="service-dropdown" >
                <option>All Services</option>
                <!-- Add more options as needed -->
            </select>
        </div>

        <div class="nav-links">
            <a class="becomehy-btn" href="#">Become a handyman</a>
            <button class="login">Login</button>
            <button class="signup">Sign up</button>
        </div>
        <div class="nav-burger-menu">
            <img src="../public/images/icons/burger-menu.svg" alt="">
        </div>
    </nav>
   </header>
  <!-- Hero Section -->
  <main class="hero">
    <h1 class="hero-main-text">Find and Hire Handymen</h1>
    <p>Search, compare, and book local handymen for various Services</p>
    
    <!-- Search btn -->
    <div class="search-wrapper">
      <div class="search-container">
        <input type="text" id="searchInput" class="search-input search-text" placeholder="What can we help you with ?" />
        <div class="divider"></div>
        <div class="location-input">
          <span class="location-icon"><img class="location" src="../public/images/icons/location-icon.svg" alt=""></span>
          <input type="text" id="locationInput" class="search-input location-text" placeholder="Enter Location" />
        </div>
      </div>
      <button class="search-button">
          <img src="../public/images/icons/search-icon.svg" alt="">
      </button>
    </div>
  
  </main>
     
    <section class="services">
      <h2 class="sub-section-text">Featured <span>Services</span></h2>
      <div class="service-grid">
        <div class="service-item">
          <img class="service-icon" src="../public/images/icons/plumbing.svg" alt="Plumbing Icon" />
          <p>Plumbing</p>
        </div>
        <div class="service-item">
          <img class="service-icon"  src="../public/images/icons/electrical.svg" alt="Electrical Icon" />
          <p>Electrical</p>
        </div>
        <div class="service-item">
          <img class="service-icon" src="../public/images/icons/painting.svg" alt="Painting Icon" />
          <p>Painting</p>
        </div>
        <div class="service-item">
          <img class="service-icon" src="../public/images/icons/cleaning.svg" alt="Cleaning Icon" />
          <p>Cleaning</p>
        </div>
        <div class="service-item">
          <img class="service-icon" src="../public/images/icons/assembly.svg" alt="Assembly Icon" />
          <p>Assembly</p>
        </div>
        <div class="service-item">
          <img class="service-icon" src="../public/images/icons/roofing.svg" alt="Roofing Icon" />
          <p>Roofing</p>
        </div>
        <div class="service-item">
          <img class="service-icon" src="../public/images/icons/HVAC.svg" alt="HVAC Icon" />
          <p>HVAC</p>
        </div>
      </div>
    </section>
  </main>





   <section class="home-projects">
    <div class="home-projects-heading">
        <h3 class="popular-home-project">Popular Home Projects</h3>
        <div class="see-more-container-mobile">
            <a href="#" class="see-more">See More &gt;&gt;</a>
        </div>
    </div>
  

    <div class="home-projects-container">
        <a href="#" class="project-link">
            <div class="home-project">
                <div class="home-project-img-container">
                    <img src="../public/images/furnitue-assembly-man.jpg" alt="Furniture Assembly" class="home-project-img">
                </div>
                <div class="home-project-info">
                    <h3 class="home-project-title">Furniture Assembly &gt&gt;</h3>
                    <span class="rating"> <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star-half-alt" style="color: orange;"></i>
                        <span>35</span></span>
                </div>
            </div>
        </a>

        <a href="#" class="project-link">
            <div class="home-project">
                <div class="home-project-img-container">
                    <img src="../public/images/helping-moving-out.webp" alt="Help Moving Out" class="home-project-img">
                </div>
                <div class="home-project-info">
                    <h3 class="home-project-title">Help Moving out &gt&gt;</h3>
                    <span class="rating"> <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star-half-alt" style="color: orange;"></i>
                        <span>35</span></span>
                </div>
            </div>
        </a>

        <a href="#" class="project-link">
            <div class="home-project">
                <div class="home-project-img-container">
                    <img src="../public/images/plumber.jpg" alt="Minor Plumbing Repair" class="home-project-img">
                </div>
                <div class="home-project-info">
                    <h3 class="home-project-title">Minor Plumbing Repair &gt&gt;</h3>
                    <span class="rating"> <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star-half-alt" style="color: orange;"></i>
                        <span>35</span></span>
                </div>
            </div>
        </a>
    </div>

    <div class="see-more-container">
        <a href="#" class="see-more">See More &gt;&gt;</a>
    </div>
   </section>
   <section class="handymen-near-you">
    <div class="handymen-near-you-heading">
      <h3 class="handymen-near-you-heading-title">Handymen Near You</h3>
    </div>
  
    <div class="handymen-near-you-container">
  
      <a href="#" class="handyman-link">
        <div class="handyman-near-you">
          <div class="handyman-image">
            <img src="../public/images/handyman-profiles/profile1.jpeg" alt="Saidou Jallow">
          </div>
          <div class="handyman-details">
            <p class="handyman-name">Saidou J</p>
            <span class="handyman-rating"> <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star-half-alt" style="color: orange;"></i>
                <span>45</span></span>
            <p class="handyman-skill">Plumber</p>
            <p class="handyman-location">Serrekunda</p>
          </div>
        </div>
      </a>
  
      <a href="#" class="handyman-link">
        <div class="handyman-near-you">
          <div class="handyman-image">
            <img src="../public/images/handyman-profiles/profile2.jpeg" alt="Abdou M">
          </div>
          <div class="handyman-details">
            <p class="handyman-name">Abdou M</p>
            <span class="handyman-rating"> <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star" style="color: orange;"></i>
                <span>50</span></span>
            <p class="handyman-skill">Gardener</p>
            <p class="handyman-location">Kanifing</p>
          </div>
        </div>
      </a>
  
      <a href="#" class="handyman-link">
        <div class="handyman-near-you">
          <div class="handyman-image">
            <img src="../public/images/handyman-profiles/profile3.jpeg" alt="Isatou C">
          </div>
          <div class="handyman-details">
            <p class="handyman-name">Isatou C</p>
            <span class="handyman-rating"> <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star" style="color: white;"></i>
                <span>91</span></span>
            <p class="handyman-skill">Cleaner</p>
            <p class="handyman-location">Bakau</p>
          </div>
        </div>
      </a>
  
      <a href="#" class="handyman-link">
        <div class="handyman-near-you">
          <div class="handyman-image">
            <img src="../public/images/handyman-profiles/profile4.jpeg" alt="Modou S">
          </div>
          <div class="handyman-details">
            <p class="handyman-name">Modou S</p>
            <span class="handman-rating"> <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star-half-alt" style="color: orange;"></i>
                <span>89</span></span>
            <p class="handyman-skill">Contractor</p>
            <p class="handyman-location">Serrekunda</p>
          </div>
        </div>
      </a>
  
      <a href="#" class="handyman-link">
        <div class="handyman-near-you">
          <div class="handyman-image">
            <img src="../public/images/handyman-profiles/profile5.jpeg" alt="Charles L">
          </div>
          <div class="handyman-details">
            <p class="handyman-name">Charles L</p>
            <span class="handyman-rating"> <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star-half-alt" style="color: orange;"></i>
                <span>15</span></span>
            <p class="handyman-skill">Block Work</p>
            <p class="handyman-location">Jeshwang</p>
          </div>
        </div>
      </a>
  
      <a href="#" class="handyman-link">
        <div class="handyman-near-you">
          <div class="handyman-image">
            <img src="../public/images/handyman-profiles/profile6.jpeg" alt="Mariam S">
          </div>
          <div class="handyman-details">
            <p class="handyman-name">Mariam S</p>
            <span class="handyman-rating"> <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star" style="color: orange;"></i>
                <i class="fas fa-star-half-alt" style="color: orange;"></i>
                <span>25</span></span>
            <p class="handyman-skill">Painter</p>
            <p class="handyman-location">Lamin</p>
          </div>
        </div>
      </a>
      <div class="see-more-container-handymen-near-you">
        <a href="#" class="see-more-handymen-near-you">See More &gt;&gt;</a>
      </div>
      
    </div>
  </section>
  <!-- Cleaning and Handy Task -->
  <section class="cleaning-handyman-projects">
    <div class="cleaning-projects-heading">
        <h3 class="cleaning-project-h3">Cleaning and Handy Task</h3>
        <p class="section-paragraph">Easily book trusted pros for cleaning and handyman jobs with transparent, upfront pricing</p>
        <div class="see-more-container-mobile">
            <a href="#" class="see-more">See More &gt;&gt;</a>
        </div>
    </div>
  

    <div class="home-projects-container">
        <a href="#" class="project-link">
            <div class="home-project">
                <div class="home-project-img-container">
                    <img src="../public/images/cleaning-image.jpg" alt="Furniture Assembly" class="home-project-img">
                </div>
                <div class="home-project-info">
                    <h3 class="home-project-title">Home Cleaning &gt;&gt;</h3>
                    <span class="rating"> <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star-half-alt" style="color: orange;"></i>
                        <span>22</span></span>
                </div>
            </div>
        </a>

        <a href="#" class="project-link">
            <div class="home-project">
                <div class="home-project-img-container">
                    <img src="../public/images/light-fixture.jpg" alt="Help Moving Out" class="home-project-img">
                </div>
                <div class="home-project-info">
                    <h3 class="home-project-title">Light Fixture Installation &gt;&gt;</h3>
                    <span class="rating"> <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star-half-alt" style="color: orange;"></i>
                        <span>35</span></span>
                </div>
            </div>
        </a>

        <a href="#" class="project-link">
            <div class="home-project">
                <div class="home-project-img-container">
                    <img src="../public/images/tv-mounting.jpg" alt="Minor Plumbing Repair" class="home-project-img">
                </div>
                <div class="home-project-info">
                    <h3 class="home-project-title">TV Mounting &gt;&gt;</h3>
                    <span class="rating"> <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star-half-alt" style="color: orange;"></i>
                        <span>35</span></span>
                </div>
            </div>
        </a>
    </div>

    <div class="see-more-container">
        <a href="#" class="see-more">See More &gt;&gt;</a>
    </div>
   </section>
   <!-- Cleaning and Handy Task End-->

  <!-- Home Improvement -->
  <section class="home-improvement-projects">
    <div class="cleaning-projects-heading">
        <h3 class="cleaning-project-h3">Home Improvement Projects</h3>
        <p class="section-paragraph"> Get free quotes from top local home improvement pros on larger home projects</p>
        <div class="see-more-container-mobile">
            <a href="#" class="see-more">See More &gt;&gt;</a>
        </div>
    </div>
  

    <div class="home-projects-container">
        <a href="#" class="project-link">
            <div class="home-project">
                <div class="home-project-img-container">
                    <img src="../public/images/bathroom-remodeling.jpeg" alt="Bathroom Remodeling" class="home-project-img">
                </div>
                <div class="home-project-info">
                    <h3 class="home-project-title">Bathroom Remodeling &gt;&gt;</h3>
                    <span class="rating"> <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star-half-alt" style="color: orange;"></i>
                        <span>22</span></span>
                </div>
            </div>
        </a>

        <a href="#" class="project-link">
            <div class="home-project">
                <div class="home-project-img-container">
                    <img src="../public/images/kitchen-remodeling.jpeg" alt="Help Moving Out" class="home-project-img">
                </div>
                <div class="home-project-info">
                    <h3 class="home-project-title">Kitchen Remodeling &gt;&gt;</h3>
                    <span class="rating"> <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star-half-alt" style="color: orange;"></i>
                        <span>35</span></span>
                </div>
            </div>
        </a>

        <a href="#" class="project-link">
            <div class="home-project">
                <div class="home-project-img-container">
                    <img src="../public/images/gardening.jpg" alt="Gardening" class="home-project-img">
                </div>
                <div class="home-project-info">
                    <h3 class="home-project-title">Gardening &gt;&gt;</h3>
                    <span class="rating"> <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star" style="color: orange;"></i>
                        <i class="fas fa-star-half-alt" style="color: orange;"></i>
                        <span>35</span></span>
                </div>
            </div>
        </a>
    </div>

    <div class="see-more-container">
        <a href="#" class="see-more">See More &gt;&gt;</a>
    </div>
   </section>
   <!-- Cleaning and Handy Task End-->
  
  <section class="join-us">
    <div class="join-us-text-container">
      <h3 class="join-us-heading">Are you a Skilled handyman?</h3>
      <p class="join-us-text">At Findahand, we are on the lookout for skilled service experts —from cleaners repairs pros to smart home tech installers
        — who take pride in delivering top quality work. Join a network where professionals get access to jobs without paying lead fees, all while enjoying the 
        freedom of a flexible schedule
      </p>
      <a href="" class="join-as-worker-btn">Join as Worker</a>
    </div>
    <div class="join-us-image">
      <img src="../public/images/becomehandymen.png" alt="becomehandymen">
    </div>
  </section>
  <section class="how-it-works">
    <div class="guide">
      <p class="how-it-works-heading">How it works</p>
      <p class="step"><p class="step1">1</p>Browse through Services</p>
      <p class="step"><p class="step2">2</p>Browse handymen profiles</p>
      <p class="step"><p class="step3">3</p>Book a service</p>
    </div>
    <div class="phone-user-container">
      <div class="empty">

      </div>
      <div class="phone-user-image">
        <img src="../public/images/Image of person on their phone.jpg" alt="">

      </div>
    </div>
  </section>
    
</body>
</html>