
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
/* Navigation Styles */
.logo-text {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-size: 2.5rem;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
}
.service-menu {
    margin-right: auto;
    margin-left: 2rem;
}
.service-dropdown{
    border: none;
}
.becomehy-btn {
    border-bottom: 2px solid #f7931e;
    color: #000;
    text-decoration: #f7931e;
    font-size: 0.875rem;

}
.login,
.signup {
  padding: 0.375rem 0.75rem;
  border: none;
  cursor: pointer;
}
.login {
    background-color: #fff;
    border: 2px solid #f7931e;
  }
  
.signup {
    background-color: #f7931e;
    border: 2px solid #f7931e;
    color: white;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    
}
.nav-burger-menu{
    display: none;
    cursor: pointer;

}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.25rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
@media (max-width:56rem) {

    .nav-links{
        display: none;
    }
    .nav-burger-menu{
        display: block;
    }
   
    
}
/* Hero Section */
.hero {
    padding: 6rem 2rem;
    text-align: center;
}
.hero-main-text{
    font-size: 2.5rem;
    font-weight: 600;
    color: #000;
}
/* Search */


.services {
margin-top: 3.125rem;
}
  
.sub-section-text {
    font-weight: normal;
    font-size: 1.5rem;
  }
  
  .services span {
    color: #f58220;
  }
  
  .service-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
  }
  
  .service-item {
    text-align: center;
    max-width: 6.25rem;
    transition: transform 0.3s ease; 
    cursor: pointer;
  }
  .service-item:hover {
    transform: scale(1.05);
       
  }
  
  .service-icon {
    width: 3.75rem;
    height: 3.75rem;
    object-fit: contain;
    margin-bottom: 0.625rem;
  }
/* Project Section Styles */
.home-projects {
    margin: 2rem;
    text-align: center;
}

.home-projects-heading {
    padding: 0.5rem;
    
    
}

.popular-home-project {
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: bold;
   
}

.home-projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
}

.home-project {
    border: 1px solid #ccc;
    border-radius: 2%;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
    height: 100%;
}

.home-project:hover {
    transform: scale(1.02);
}

.home-project-img-container {
    width: 100%;
    height: 15rem;
    overflow: hidden;
}

.home-project-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.home-project-info {
    padding: 1rem;
    text-align: left;
}

.home-project-title {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    text-align: left;
    color: black;
   
}

.rating {
    font-size: 0.9rem;
    color: #555;
    text-align: left;
}
.see-more-container-mobile {
    margin-top: 1.5rem;
    display: none;
    
}

.see-more-container {
    margin-top: 1.5rem;
}

.see-more {
    text-decoration: underline;
    text-decoration-color: rgb(246, 184, 70);
    color: #010101;
    font-size: 1rem;
}
.project-link{
    text-decoration: none;
    height: 20rem;
}
.handymen-near-you-heading-title {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
}

.handymen-near-you {
    margin: 2rem;
    text-align: center;
}

.handymen-near-you-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    margin-top: 1.2rem;
    align-items: center;
}

.handyman-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.handyman-near-you {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.handyman-image {
    width: 8rem;
    height: 8rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    overflow: hidden;
}

.handyman-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.handyman-details {
    text-align: left;
}

.handyman-name {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
}

.handyman-rating {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin: 0.2rem 0;
}

.handyman-skill {
    font-size: 1.2rem;
    font-weight: bold;
    color: #666;
    margin: 0.2rem 0;
}

.handyman-location {
    font-size: 1.2rem;
    color: #666;
    margin: 0;
}
.see-more-container-handymen-near-you {
    margin-top: 0.4rem;
    text-align: center;
    align-items: center;
    align-content: center;

}

.see-more-handymen-near-you {
    text-decoration: underline;
    text-decoration-color: rgb(246, 184, 70);
    color: #010101;
    font-size: 1rem;
    width: 10rem;
}
.join-us{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(24rem,1fr));
    margin-top: 10rem;
    gap: 0;
}
.join-us-text-container{
    padding: 3rem;
}
.join-us-heading{
    font-size: 2rem;
    font-weight:500;
    margin-bottom: 1.7rem;
}
.join-us-image{
    flex-shrink: 0;
    border-radius: 0.5rem;
    overflow: hidden;
}
.join-us-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.join-us-text{
    margin-bottom: 2rem;
}
.join-as-worker-btn{
    text-decoration: none;
    border: 1px solid orange;
    margin-top: 4rem;
    padding: 0.7rem;
    color: #000;
    transition: transform 0.3s ease;
}
.join-as-worker-btn:hover{
    transform: scale(1.02);
    background-color: #f58220;
    color: white;
}

.how-it-works{
    position: relative;

}
.guide{}
@media (min-width: 64rem) {
    .home-projects-heading {
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
    }
    .see-more-container-mobile{
        display: flex;
        margin-left: 50rem;
    }
    .see-more-container{
        display: none;
    }
    .handymen-near-you-heading{
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
    }
}
