<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login to your account</title>
  <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
  <div class="main-container">
    <div class="form-container">
      <form class="login-form">
        <h2 class="form-title">Findahand</h2>
        <label class="label-text" for="email">Email address</label>
        <input type="email" id="email" class="form-input" placeholder="Email Address" required />
  
        <label for="password" class="label-text">Password</label>
        <input type="password" id="password" class="form-input" placeholder="Password" required />
  
        <a href="#" class="form-link forget_password_link">Forget password ?</a>
         <a href="../views/signup.html" class="form-link dont_have_account_link">Don't have an account ?</a>
        <button type="submit" class="form-button">Log in</button>
      </form>
    </div>
  </div>
  <script src="config.js"></script>
  <script src="./login.js"></script>

</body>
</html>